* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.show-hide {
  display: block !important;
}

.news {
  width: 80%;
  margin: 100px 0 auto;
  columns: 3 250px;
}

.card {
  width: 100%;
}

.image {
  width: 100%;
  height: 200px;
}

.title {
}

.author {
}

.description {
}

.content {
  display: none;
}

.read-more {
}
