* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.news {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 10px;
  margin: 10px;
  position: relative;
}

.read-more {
  text-decoration: none;
  color: black;
}

.btn-info {
  margin: 10px 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
